@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    /* font-size: 14px; */
    font-family: 'Poppins';
    --text-primary: #000000;
    --text-secondary: #ececec;
    --bg-primary: #edf2fc;
    --bg-secondary: rgb(255, 238, 238);
    /* --transition-speed: 600ms; */

}

body {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    /* margin: 0; */
    padding: 0;
    font-family: 'Poppins';
    
}

main{
    background-color: #edf2fc;

}

.container{
    border-radius: 20px;
    background-color: #fff;
}

table{
    border:1px solid #000000 ;
    border-collapse: collapse;
    width: 100%;
}

 td{
    /* height: 65px; */
    vertical-align: center
    ;
    /* background-color: red; */

}

.form-control-inline{
    width: 210px;
}

.form-control{
    /* width: 210px; */
}

.check_is_maried{
    display: none;
}

/* output */
section .output{
    /* width: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 70%; */
    /* background-color: red; */
}

.output table{
    width: 50%;
    margin: 20px;
    padding: 20px;
}


