@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');2 */


:root {
 --background: #edf2fc;
 --accent: #fcdab7;
 --accent2: #1e5f74;
 --color: #fefefe;
 --dull: #b8b8b8;
 --error: #e74c3c;
 --highlight: rgba(255,255,255,.05);
 --bs-font-sans-serif: Poppins;
}

body {

	font-family: poppins;
	/* height: 100vh; */
	width: 100%;
	background: var(--background);
	/* color: var(--color); */
	padding:   0;
	overflow: hidden;
}
.middle{
    display:flex;
    margin-left:80px;
    margin-right:80px;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 30px;
	margin-bottom: 5px;
	width: 90%;
	height: 85vh;
	position: fixed;
	overflow-y: scroll;
	padding: 20px 100px;
}

body ::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px grey;  */
	border-radius: 10px;
	margin-top: 20px;
    margin-bottom: 20px;
	background: rgb(255, 255, 255); 
  }
body  ::-webkit-scrollbar-thumb {
	background: rgb(189, 189, 189); 
	border-radius: 10px;
}

.bottom{
	margin-bottom: 20px;
}

/* span {
  display: block;
  padding: 15px;
} */

/* End This sample only CSS */

/* Progress bar CSS */

.progress .progress-content .progres-text{
	display: flex;
	justify-content: space-between;
}

.progress *:not([data-progress]) {
  margin: 5px 0;
  font-size: 14px;
}

.progress {
  width: 100%;
  /* max-width: 500px; */
  height: 350px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
  overflow-y: scroll;
}

.progress [data-progress] {
  height: 15px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25) inset;
  border-radius: 20px;
  margin: 5px 0 10px 0;
  overflow: hidden;
}




[data-progress]::after {
  content: "";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: linear-gradient(#99caff, #1a88ff 50%, #007bff 50%);
  width: 0;
  height: 100%;
  box-sizing: border-box;
  font-size: 10px;
  color: white;
  padding: 0 3px;
  transition: 2s;
}

[data-progress].animate-progress::after {
  content: attr(data-progress) "%";
  width: var(--animate-progress);
}

/* End Progress bar CSS */



/* .chartMenu {
	width: 100vw;
	height: 40px;
	background: #1A1A1A;
	color: rgba(54, 162, 235, 1);
  } */
  .chartMenu p {
	padding: 10px;
	font-size: 20px;
  }
  .chartCard {
	/* width: 100vw; */
	/* height: calc(100vh - 40px); */
	background: rgba(58, 88, 107, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .chartBox {
	width: 600px;
	padding: 20px;
	border-radius: 20px;
	border: solid 3px rgba(54, 162, 235, 1);
	background: white;
  }


